*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #352f5b!important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif!important;
}

.my-container{
    color: white;
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    /* Overflow nghĩa là những phần bị tràn ra sẽ bị dấu đi(hidden) */
    overflow: hidden;
}
header{
    padding: 30px;
    background-color: #352f5b;
    color: white;
}
header h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.input-section{
    display: flex;
    gap: 10px;
}
input[type="text"]{
    padding: 12px 15px;
    flex: 1;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    /* width: 100%; */
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: all 0.3s;
}
@media (max-width:450px) {
    .todo-item{
        max-width: 93%;
    }
    
}
input[type="text"]:focus-within {
    transform: translateY(-5px);
}
.input-section button{
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: white;
    color: black;
}
button:hover{
   background: #423a6f;
  color: #fff;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-radius: 13px 13px;
  transition: 0.8s;
}
.todos-container{
    max-height: 300px;
    overflow-y: auto;
    overflow-x:hidden ;
}
.todo-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}
.todo-item{
     background-color:#423a6f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    padding: 15px;
    width: 100%;
    border-radius: 12px;
    list-style: disc;
    transition: all 0.3s;
}
.todo-item:hover{
    transition: all 0.3s ;
    transform: translateY(-5px);
    box-shadow: 0 0 30px rgba(120, 119, 198, 0.5), 0 8px 32px rgba(0, 0, 0, 0.3);
}
.todo-content{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.todo-content content{
    font-size: 25px;
}
.pen{
    margin-right: 10px;
    background:transparent;
    color: white!important;
}
.todo-action button{
    font-size: 20px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    color: white;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    
    margin-right: 10px;
    cursor: pointer;
}
